.login-page {
  position: relative;
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}
.login-page::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("../images/bg-sport.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: blur(8px);
  transform: scale(1.05);
  opacity: 0.35;

  z-index: -1;
}




.main-title {
  color: #0b2d41; 
  font-size: 5.5rem; 
  font-weight: 900;
  margin-bottom: 25px;
  font-family: 'Arial Black', sans-serif;
  letter-spacing: -3px;
}


.login-card {
  background: #f1f1f1;
  padding: 50px 40px;
  border-radius: 45px; 
  width: 420px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  text-align: center;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px)
}


.input-group input {
  width: 100%;
  padding: 18px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #fff;
  font-size: 1.1rem;
  outline: none;
}


.btn-connexion {
  width: 100%;
  padding: 16px;
  background-color: #3197a4;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}
